@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{ 
--onecolor : #088178;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-sarif;
}
body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h3{
    font-size: 20px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 20px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.btn{
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    cursor:pointer;
    border: none;
    outline: none;
    transition: .2s;
    margin-bottom: 30px;
}




/* start header */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;;
    padding: 15px 75px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
     ;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    margin: 0 14px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: .3s;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--onecolor);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30px;
    height: 2px;
    background:var(--onecolor);
    position: absolute;
    bottom: -4px;
    left: 0px;

}

.mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}


/* -----------------------------end header----------------------------- */

/* -----------------------------start home page ----------------------------- */
#main{
    background-image: url(img/palastine.png);
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    background-size: 50%;
    width: 100%;
    height: 90vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
    background-color:#e1e1e1
}

#main h4{
    padding-bottom:14px ;
}

#main h1{
    color: var(--onecolor);

}

#main button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: var(--onecolor);
    border: none;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
/* -----------------------------------end home page -----------------------------*/

/* -----------------------------start featur----------------------------- */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.03);

}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 15px;
    border-radius: 4px;
    color: var(--onecolor);
    /* background-color: #fddde4; */
}

#feature .fe-box:nth-child(1) h6{
    background-color: #bcf3ff;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #fddde4;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #90ebff;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #fac4ff;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #ffe3b3;
}

/* ----------------------------- end featur ----------------------------- */
/* ----------------------------- start product ----------------------------- */


#products {
    text-align: center;
    margin-top: 10%;
    margin: 60px;
}

#products .prod-container{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
}

#products .prod{
    width: 24%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cdebbc;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0 ;
    transition:0.2s ease;
    position: relative;
    /* left: 90px; */
}

#products .prod img{
    width: 100%;
    border-radius: 15px;
}

#products .prod img:hover{
    scale: 1.25;
    transition: .2s;
}

#products .prod .text{
    text-align: start;
    padding: 10px 0;
}

#products .prod .text span{
    color: #222;
    font-size: 12px;
}

#products .prod .text span h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#products .prod .text i{
     font-size: 12px;
     color: rgb(243, 176, 53)
}

#products .prod .text h4{
    padding-top: 7px;
    color: var(--onecolor);
    font-size: 15px;
    font-weight: 700;
}

#products .prod .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8ffec;
    color: var(--onecolor);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* ----------------------------- end product ----------------------------- */
/* ----------------------------- start banner  ----------------------------- */


#banner{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;

}

#banner h4{
    font-size: 16px;
    margin: 20px 0;
    color: #fff;
}

#banner h2{
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}
#banner h2 span{
    color: #ff6a6a;
}

#banner button:hover{
    color: #fff;
    background-color: var(--onecolor);
}

/* sm-banner ---------*/

#sm-banner {
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}

#sm-banner .banner-box.one{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/man-with-beard.png);
    width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

#sm-banner .banner-box.two{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b10.jpg);
    width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

/* NOTE => this line make all p in the page whit */
/* #sm-banner .banner-box h4,h2,p{      
    color: #fff;
} */
#sm-banner .banner-box h4{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}
#sm-banner .banner-box h2{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}
#sm-banner .banner-box p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box button{
    padding: 20px 24px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    color: var(--onecolor);
}
/* #sm-banner .banner-box.banner-box.two button{
    padding: 20px 24px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: var(--onecolor);
} */

#sm-banner .banner-box:hover button{
    color: #fff;
    background-color: var(--onecolor);
    transition: 0.2s;
}


/* ----------------------------- end banner ----------------------------- */
/* ----------------------------- start newsletter ----------------------------- */


#newsletter {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    background-image: url(img/banner/b2.jpg);
    background-size: cover;
}

#newsletter h4{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

#newsletter p{
    color: #fff;
    font-size: 16px;
    font-weight: 200;
}
#newsletter p span{
    color: #ffbd27;
    font-size: 24px;
    font-weight: 400;
}

#newsletter form{
    width: 40%;
}

#newsletter form button{
    flex-wrap: nowrap;
}

#newsletter form input[type="email"] {
    padding: 15px 30px;
    width: 75%;
    height: 16%;
    border-radius: 4px;
    border: none;
}

#newsletter form button.btn{
    /* padding: 16px; */
    height: 16%;
    color: #fff;
    background-color: var(--onecolor);
    border: none;
    border-radius: 4px;
}


/* ----------------------------- end newsletter ----------------------------- */
/* ----------------------------- start footer ----------------------------- */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}



footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:50px auto;
}

footer .col .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;

}
footer a{
    font-size: 13px;
    text-decoration: none;
    margin-bottom:10px ;
    color: #222;
}

footer .contact .follow{
    margin-top : 20px; ;
}

footer .contact .follow i{
    color: #353535;
    padding-right: 4px;
    cursor: pointer;;
}
footer .contact .follow i:hover, 
footer a:hover{
    color:var(--onecolor);
}


footer .installApp .platform img{
    border: 1px solid var(--onecolor);
    border-radius: 4px;
    margin: 10px 0 15px 0;
}

footer .copyRight{
    width: 100%;
    text-align: center;

}

/* ----------------------------- end footer ----------------------------- */
/* ----------------------------- start Shop ----------------------------- */

.shop-header{
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40dvh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
        text-decoration: none;
        background-color: var(--onecolor);
        padding: 15px 20px;
        margin: 2px;
        border-radius: 4px;
        color: #fff;
        font-weight: 700px;
}

#pagination a i{
    font-size: 16px;
    font-weight: 700px;
}

/* ----------------------------- end shop ----------------------------- */
/* ----------------------------- start single-product ----------------------------- */

#prod-details .sng-prod-img{
    width:40%;
    margin-right: 50px;
}

#prod-details #main-img{
border-top-left-radius: 24px;
border-top-right-radius: 24px;
}
#prod-details .sml-img-group .left{
    border-bottom-left-radius:25px ;
}
#prod-details .sml-img-group .right{
    border-bottom-right-radius:25px ;
}



#prod-details .sml-img-group{
    display: flex;
    justify-content: space-between;
}

#prod-details .sml-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prod-details {
    display: flex;
    margin-top: 20px;
}

#prod-details .sng-prod-dtls{
    width: 50%;
    padding-top: 30px;
}

#prod-details .sng-prod-dtls h4{
    padding: 40px 0 20px 0;
}
#prod-details .sng-prod-dtls h2{
font-size: 24px;
}

#prod-details .sng-prod-dtls select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prod-details .sng-prod-dtls input{
    width: 50px;
    height: 42px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
}

#prod-details .sng-prod-dtls button{
    background-color: var(--onecolor);
    color: #fff;
}

#prod-details .sng-prod-dtls input:focus{
    outline: none;
}

#prod-details .sng-prod-dtls span{
    line-height: 25px;
}


/* ----------------------------- end single-product ----------------------------- */
/* ----------------------------- start About ----------------------------- */
.about-header{
    background-image: url(img/about/banner.png);
    width: 100%;
    height: 40dvh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#about-head{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}


#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* ----------------------------- end About ----------------------------- */
/* ----------------------------- start contact ----------------------------- */

#cnt-dtls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center;
    flex-direction: row; */
}

#cnt-dtls .details{
    width: 40%;
}
#cnt-dtls .details span,
#form form span{
    font-size: 12px;
}
#cnt-dtls h2,
#form form h2{
font-size: 26px;
line-height: 35px;
padding: 20px 0 ;
}
#cnt-dtls h3{
font-size: 16px;
padding-bottom: 16px;
}
#cnt-dtls .details li {
    list-style: none;
    display: flex;
     padding: 10px 0 ;
}

#cnt-dtls .details li i {
    font-size: 14px;
    padding: right 22px;
    margin-right: 14px;
}

#cnt-dtls .details li p{
    margin: 0;
    font-size: 14px;
}

#cnt-dtls .map{
    width: 55%;
    height: 400px;
}

#cnt-dtls .map iframe{
    width: 100%;
    height: 100%;
}

#form{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}


#form form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#form form input,
#form form textarea{
    padding: 12px;
    margin: 10px 0;
    width: 80%;
    border-radius: 4px;
    border: 1.5px solid #ccc;
}

#form form button.btn{
    background-color: var(--onecolor);
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}


aside.people .one-person img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

aside.people .one-person p{
    margin-left: 20px;
    line-height: 26px;
}

aside.people .one-person p span{
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: #252525;
}

aside.people .one-person{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}










/* ----------------------------- end contact ----------------------------- */